@page
@using ggmeet.Pages
@model ggmeet.Pages.LoginModel
@{
    Layout = "_Layout2";
}
<div>
    <div class=" d-flex justify-content-around align-items-center">
        <div class="w-75">
            <section class="text-center p-5">
                <img src="~/img/logo.png" alt="">
            </section>
            <div class="loginContainer shadow-sm text-center px-5 py-3 w-50">
                <p class="fw-bold">ログイン</p>
                <form >
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">メールアドレス</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="passwordSignIn" placeholder="Password">
                        <label for="passwordSignIn">パスワード</label>
                    </div>
                    <button type="submit" class="btn btn-primary submit_btn w-100 my-4" id="btnLogin">コグイン</button>
                </form>
                <p>または</p>
                <div class="">
                    <button class="border bg-white w-100 d-flex justify-content-between align-items-center p-2 my-3 shadow-sm fw-bold">
                        <img src="~/img/icons/google-logo.svg"
                             alt="google-logo" height="18px">
                        <a class="text-decoration-none text-dark w-100" href="#">Googleで続ける</a>
                    </button>
                    <button class="border bg-white w-100 d-flex justify-content-between align-items-center p-2 my-3 shadow-sm fw-bold">
                        <img src="~/img/icons/microsoft-logo.svg"
                             alt="Microsoft-logo" height="18px">
                        <a class="text-decoration-none text-dark w-100" href="#">Microsoftで続ける</a>
                    </button>
                    <button class="border bg-white w-100 d-flex justify-content-between align-items-center p-2 my-3 shadow-sm fw-bold">
                        <img src="~/img/icons/apple-logo.svg"
                             alt="Apple-logo" height="18px">
                        <a class="text-decoration-none text-dark w-100" href="#">Appleで続ける</a>
                    </button>
                    <button class="border bg-white w-100 d-flex justify-content-between align-items-center p-2 my-3 shadow-sm fw-bold">
                        <img src="~/img/icons/slack-logo.svg"
                             alt="Apple-logo" height="18px">
                        <a class="text-decoration-none text-dark w-100" href="#">Slackで続ける</a>
                    </button>
                </div>
                <hr class="m-0 mt-5">
                <div class="pt-3 align-top">
                    <a href="#" class="text-decoration-none">ログインできない?</a>
                    <div class="p-1 d-inline align-middle">.</div>
                    <a asp-page="./SignUp">登録</a> 
                </div>
            </div>
            <footer>
                <p class="text-center pt-3"><a href="#" class="text-decoration-none">個人情報保護方針</a> . <a href="#" class="text-decoration-none">利用規約</a></p>
            </footer>
        </div>
    </div>
</div>
